* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

body {
  height: 100vh;
  background: #f5f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  filter: blur(3px);
}

span {
  font-size: 1rem;
  margin: 0 4px;
}

.keyboard {
  margin-top: 10px;
  border-radius: 10px;
  width: 1000px;
  height: 230px;
  position: relative;
}

.key {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 190px;
  width: 40px;
  height: 40px;
  font-size: .2rem;
  text-align: center;
  line-height: 40px;
  background: rgb(255, 173, 173);
  color: #fff;
  border: none;
}

.bgc {
  background: #fff;
  color: rgb(255, 173, 173);
}

.bgr {
  color: red;
}